{%- set shared_menu_en = [
        {
            'name':
            'InternLM',
            'children': [
                {
                    'name': 'GitHub',
                    'url': 'https://github.com/InternLM/'
                },
                {
                    'name': 'Twitter',
                    'url': 'https://twitter.com/intern_lm'
                }
            ]
        },
    ]
-%}

{%- set shared_menu_cn = [
        {
            'name':
            'InternLM',
            'children': [
                {
                    'name': 'GitHub',
                    'url': 'https://github.com/InternLM/'
                },
                {
                    'name': '推特',
                    'url': 'https://twitter.com/intern_lm'
                }
            ]
        },
    ]
-%}

{%- set lang_menu_mapping = {'default': shared_menu_en, 'cn': shared_menu_cn, 'en': shared_menu_en} -%}
